body {
	text-align: left;
	font-family: 'Lato', Arial, sans-serif;
	color: #555;
	font-weight: 400;
	border-top: 8px solid #ffa200;
}
.top {
	width:100%;
	background:#202a2c;
	padding-top:15px;
	padding-bottom:15px;
}
strong {
	font-weight: 700;
}
a:hover {
	text-decoration: none;
}

::-moz-selection {
background: #ffa200;
color: #fff;
text-shadow: none;
}
::selection {
	background: #ffa200;
	color: #fff;
	text-shadow: none;
}
.logo a {
	color: #fff;
	text-decoration: none;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}
.logo a:hover {
	color: #fff;
}
.call-me {
	font-size: 18px;
	text-align: right;
}
.call-me p {
	margin-top: 18px;
	padding-right: 50px;
	color:#ffa200;
}
.call-me p span {
	color: #888;
}
.coming-soon {
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.inner-bg {
	padding: 55px 0 60px 0;
	background: url(../images/pattern-3.png);
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}
.coming-soon h2 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0 1px 7px rgba(0,0,0,.2);
}
.coming-soon p {
	margin-top: 20px;
	font-size: 18px;
	line-height: 36px;
	text-shadow: 0 1px 7px rgba(0,0,0,.2);
}
.timer {
	margin-top: 40px;
	text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
.timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper {
	display: inline-block;
	width: 160px;
	height: 160px;
	margin: 0 10px;
	padding-top: 20px;
	background: #2d2d2d; /* browsers that don't support rgba */
	background: rgba(45,45,45,.7);
	font-size: 18px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
}
.timer .days-wrapper:hover, .timer .hours-wrapper:hover, .timer .minutes-wrapper:hover, .timer .seconds-wrapper:hover {
	background: #ffa200 url(../images/pattern-2.png);
	text-shadow: none;
}
.timer .days, .timer .hours, .timer .minutes, .timer .seconds {
	font-size: 80px;
	line-height: 90px;
}
.success-message, .error-message {
	font-size: 18px;
}
.error-message {
	color: #e75967;
}
.title {
	font-size:30px;
	color:#fff;
	font-weight:700;
	margin-left:72px;
	margin-top:-41px;
	display:block;
}
.contact {
	padding-bottom:50px;
	padding-top:30px;
}
.contact h3 {
	text-align:center;
	font-size:35px;
	text-transform:uppercase;
	font-weight:700;
}
.contact p {
	text-align:center;
	margin-bottom:15px;
}
.contact textarea {
	margin-top:15px;
}
.subBtn {
	background:#ffa200;
	padding:10px 35px;
	border:none !important;
	font-size:17px;
	color:#fff;
	margin-top:15px;
}
.subBtn:hover {
	background:#202a2c;
	color:#fff;
}
.logo span {
	margin-left:73px;
	font-size:14px;
}

/***** Responsive *****/

@media (min-width: 768px) and (max-width: 979px) {
.call-me p {
	padding-right: 0;
}
.timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper {
	width: 140px;
	height: 140px;
	margin: 0 7px;
	padding-top: 20px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}
.timer .days, .timer .hours, .timer .minutes, .timer .seconds {
	font-size: 60px;
	line-height: 70px;
}
}
 @media (max-width: 767px) {
body {
	padding-left: 0;
	padding-right: 0;
}
.call-me {
	padding-bottom: 7px;
	text-align: center;
}
.call-me p {
	padding-right: 0;
}
.inner-bg {
	padding: 45px 0 50px 0;
}
.coming-soon h2 {
	font-size: 36px;
	padding: 0 20px;
}
.coming-soon p {
	padding: 0 20px;
}
.timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper {
	width: 140px;
	height: 140px;
	margin: 7px;
	padding-top: 20px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}
.timer .days, .timer .hours, .timer .minutes, .timer .seconds {
	font-size: 60px;
	line-height: 70px;
}
}
